@import '~primereact/resources/themes/lara-light-blue/theme.css';

.p-tabview .p-tabview-nav {
  background: #ffffff;
  border: 1px solid #dee2e6;
  border-width: 0 0 1px 0;
}

.p-tag.p-tag-blue {
  background-color: var(--blue-500);
  color: var(--primary-color-text);
}
.p-tag.p-tag-bluegray {
  background-color: var(--bluegray-500);
  color: var(--primary-color-text);
}
.p-tag.p-tag-cyan {
  background-color: var(--cyan-500);
  color: var(--primary-color-text);
}
.p-tag.p-tag-green {
  background-color: var(--green-500);
  color: var(--primary-color-text);
}
.p-tag.p-tag-indigo {
  background-color: var(--indigo-500);
  color: var(--primary-color-text);
}
.p-tag.p-tag-orange {
  background-color: var(--orange-500);
  color: var(--primary-color-text);
}
.p-tag.p-tag-pink {
  background-color: var(--pink-500);
  color: var(--primary-color-text);
}
.p-tag.p-tag-purple {
  background-color: var(--purple-500);
  color: var(--primary-color-text);
}
.p-tag.p-tag-red {
  background-color: var(--red-500);
  color: var(--primary-color-text);
}
.p-tag.p-tag-teal {
  background-color: var(--teal-500);
  color: var(--primary-color-text);
}
.p-tag.p-tag-yellow {
  background-color: var(--yellow-500);
  color: var(--primary-color-text);
}

.p-toast .p-toast-message.p-toast-message-info {
  background: rgb(229, 246, 253);
  border: solid #0288d1;
  border-width: 0 0 0 6px;
  color: #0288d1;
}
.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
  color: #0288d1;
}

.p-statistics.p-statistics-blue {
  background-color: var(--blue-100) !important;
  > i {
    color: var(--blue-500) !important;
  }
}

.p-statistics.p-statistics-cyan {
  background-color: var(--cyan-100) !important;
  > i {
    color: var(--cyan-500) !important;
  }
}

.p-statistics.p-statistics-orange {
  background-color: var(--orange-100) !important;
  > i {
    color: var(--orange-500) !important;
  }
}

.p-statistics.p-statistics-purple {
  background-color: var(--purple-100) !important;
  > i {
    color: var(--purple-500) !important;
  }
}
