# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
.dockerignore
.git/
.github/
.gitignore
.isort.cfg
.pre-commit-config.yaml
Dockerfile
README.md
*/.idea/
*/.vscode/

# Artifacts that will be built during image creation.
# This should contain all files created during `npm run build`.

# Django
*.pyc
*/__pycache__/
backend/.coveragerc
backend/.flake8
backend/.env
backend/.env.sample

# React
*/build/
*/node_modules/
