# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
.dockerignore
.flake8
.git
.gitignore
.idea
.isort.cfg
.pre-commit-config.yaml
.vscode
Dockerfile
README.md

# Artifacts that will be built during image creation.
# This should contain all files created during `npm run build`.

# Django
*.pyc
__pycache__

# React
*/build/
*/node_modules/
