ci:
  autoupdate_branch: 'main'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-private-key
        name: 'Detect private keys'
      - id: check-merge-conflict
        name: 'Check for merge conflicts'
      - id: trailing-whitespace
        name: 'Trim trailing whitespaces'
      - id: mixed-line-ending
        name: 'Replace mixed line endings'
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.0
    hooks:
      - id: check-github-workflows
      - id: check-renovate
  - repo: local
    hooks:
      - id: sync-additional-dependencies
        name: 'Sync additional_dependencies'
        entry: python .pre-commit/sync-additional-dependencies.py
        language: python
        files: (^.pre-commit/)|(package.json$)
        additional_dependencies:
          - pyyaml==6.0.1
  - repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
      - id: poetry-check
        name: 'Check Poetry config and verify that lockfile is consistent with pyproject.toml'
        args: [-C, ./backend, --lock]
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        name: 'Upgrade Python syntax to newer versions'
        args: [--py314-plus]
  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.29.1
    hooks:
      - id: django-upgrade
        name: 'Upgrade Django syntax to newer versions'
        args: [--target-version, '6.0']
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.6.0
    hooks:
      - id: pycln
        name: 'Remove unused Python imports'
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: 'Sort Python imports'
        args: [--settings, ./backend/pyproject.toml]
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black
        name: 'Format Python code'
  - repo: https://github.com/rtts/djhtml
    rev: 3.0.10
    hooks:
      - id: djhtml
        name: 'Format Django templates'
        files: ^backend/templates/
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        name: 'Lint Python code'
        args: [--toml-config=./backend/pyproject.toml]
        additional_dependencies:
          - Flake8-pyproject
  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
      - id: bandit
        name: 'Check Python security issues'
        exclude: ^backend/tests/
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.7.4
    hooks:
      - id: prettier
        name: 'Format JavaScript and TypeScript code'
        exclude: (^backend/templates/)|((poetry\.lock|package(-lock)?\.json)$)
        exclude_types:
          - python
        args: [--config, ./frontend/.prettierrc]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v10.0.0-beta.0
    hooks:
      - id: eslint
        name: 'Lint JavaScript code (Frontend)'
        files: ^frontend/
        types:
          - text
        types_or:
          - javascript
          - jsx
        args: [
            --config,
            ./frontend/eslint.config.cjs,
            --rule,
            'import/no-unresolved:
            off',
            --fix,
          ]
        additional_dependencies:
          - '@eslint/js@9.39.2'
          - '@typescript-eslint/parser@8.52.0'
          - eslint-config-prettier@10.1.8
          - eslint-import-resolver-typescript@4.4.4
          - eslint-plugin-import@2.32.0
          - eslint-plugin-jsx-a11y@6.10.2
          - eslint-plugin-prettier@5.5.4
          - eslint-plugin-react-hooks@7.0.1
          - eslint-plugin-react@7.37.5
          - eslint@9.39.2
          - globals@16.5.0
          - prettier@3.7.4
          - typescript-eslint@8.52.0
      - id: eslint
        name: 'Lint TypeScript code (Admin dashboard)'
        files: ^frontend-admin/
        types:
          - text
        types_or:
          - javascript
          - jsx
          - ts
          - tsx
        args: [
            --config,
            ./frontend-admin/eslint.config.cjs,
            --rule,
            'import/no-unresolved:
            off',
            --fix,
          ]
        additional_dependencies:
          - '@eslint/js@9.39.2'
          - '@tanstack/eslint-plugin-query@5.91.3'
          - eslint-config-prettier@10.1.8
          - eslint-import-resolver-typescript@4.4.4
          - eslint-plugin-import@2.32.0
          - eslint-plugin-prettier@5.5.5
          - eslint-plugin-react-hooks@7.0.1
          - eslint-plugin-react@7.37.5
          - eslint@9.39.2
          - globals@16.5.0
          - prettier@3.8.1
          - typescript-eslint@8.54.0
          - typescript@5.9.3
