services:
  server:
    image: ghcr.io/koliver94/bss-request-manager:main
    restart: unless-stopped
    command: gunicorn --bind=0.0.0.0:8000 --workers=5 --threads=2 core.wsgi
    volumes:
      - credentials:/app/backend/credentials
      - logs:/app/backend/logs
    ports:
      - '127.0.0.1:8000:8000'
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    env_file:
      - ./backend/.env
    depends_on:
      - postgres
      - redis

  worker:
    image: ghcr.io/koliver94/bss-request-manager:main
    restart: unless-stopped
    command: celery -A core worker
    env_file:
      - ./backend/.env
    environment:
      - DJANGO_CONTAINER=false
    volumes:
      - credentials:/app/backend/credentials/:ro
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    depends_on:
      - server
      - postgres
      - redis

  beat:
    image: ghcr.io/koliver94/bss-request-manager:main
    restart: unless-stopped
    command: celery -A core beat
    env_file:
      - ./backend/.env
    environment:
      - DJANGO_CONTAINER=false
    depends_on:
      - server
      - postgres
      - redis

  postgres:
    image: postgres:18-alpine
    restart: unless-stopped
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}']
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    volumes:
      - postgres:/var/lib/postgresql
    environment:
      - POSTGRES_DB=request_manager_db
      - POSTGRES_USER=request_manager
      - POSTGRES_PASSWORD=change_me
      - POSTGRES_INITDB_ARGS=--locale-provider=icu --icu-locale=hu-HU
      - LC_COLLATE=hu_HU.utf8
      - LC_CTYPE=hu_HU.utf8

  redis:
    image: redis:8-alpine
    restart: unless-stopped
    healthcheck:
      test: ['CMD-SHELL', 'redis-cli ping | grep PONG']
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
    volumes:
      - redis:/data

volumes:
  credentials:
  logs:
  postgres:
  redis:
