services:
  postgres:
    restart: unless-stopped
    image: postgres:18-alpine
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql
    environment:
      - POSTGRES_DB=request_manager_db
      - POSTGRES_USER=request_manager
      - POSTGRES_PASSWORD=change_me
      - POSTGRES_INITDB_ARGS=--locale-provider=icu --icu-locale=hu-HU
      - LC_COLLATE=hu_HU.utf8
      - LC_CTYPE=hu_HU.utf8

  redis:
    restart: unless-stopped
    image: redis:8-alpine
    ports:
      - 6379:6379
    volumes:
      - redis:/data

volumes:
  postgres:
  redis:
