[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.8"
djangorestframework = "*"
psycopg2-binary = "*"
django-auth-ldap = "*"
python-ldap = "*"
djangorestframework_simplejwt = "*"
python-decouple = "*"

[requires]
python_version = "3.8"
