@use 'sass:map';
@use '/src/assets/scss/theme';

.badge {
  margin-right: 3px;
  border-radius: 12px;
  padding: 5px 12px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  display: inline-block;
}
.primary {
  background-color: map.get(theme.$themeColors, 'primary');
}
.warning {
  background-color: map.get(theme.$themeColors, 'warning');
}
.error {
  background-color: map.get(theme.$themeColors, 'error');
}
.success {
  background-color: map.get(theme.$themeColors, 'success');
}
.info {
  background-color: map.get(theme.$themeColors, 'info');
}
.secondary {
  background-color: map.get(theme.$themeColors, 'secondary');
}
.gray {
  background-color: #6c757d;
}
