# ide configs
.idea
.vscode

# testing
.coverage
.pytest_cache
health_check_storage_test
htmlcov

# cache
**/*.pyc
**/__pycache__

# static
staticfiles

# openapi schema
schema.yaml

# misc
.DS_Store
.dockerignore
.env*
.git
.gitignore
Dockerfile
