[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
celery = {extras = ["redis"],version = "==5.2.7"}
django = "==4.0.6"
djangorestframework = "==3.13.1"
djangorestframework_simplejwt = "==5.2.0"
django-auth-ldap = "==4.1.0"
django-cacheops = "==6.1"
django-celery-results = "==2.4.0"
django-cors-headers = "==3.13.0"
django-filter = "==22.1"
django-health-check = "==3.16.5"
django-phonenumber-field = {extras = ["phonenumbers"],version = "==6.3.0"}
django-simple-history = "==3.1.1"
drf-recaptcha = "==2.0.7"
drf-yasg = "==1.20.0"
google-api-python-client = "==2.52.0"
google-auth-httplib2 = "==0.1.0"
google-auth-oauthlib = "==0.5.2"
gunicorn = "==20.1.0"
jsonschema = {extras = ["format"],version = "==4.6.2"}
libgravatar = "==1.0.0"
psycopg2-binary = "==2.9.3"
python-decouple = "==3.6"
python-ldap = "==3.4.2"
requests = "==2.28.1"
rest-social-auth = {editable = true, ref = "next", git = "https://github.com/KOliver94/django-rest-social-auth.git"}
sentry-sdk = "==1.7.0"
whitenoise = {extras = ["brotli"],version = "==6.2.0"}

[dev-packages]
coverage = {extras = ["toml"],version = "*"}
freezegun = "*"
pre-commit = "*"
pytest-django = "*"

[requires]
python_version = "3.10"
