[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pylint = "*"
tox = "*"

[packages]
django = "==3.0.7"
djangorestframework = "==3.11.0"
djangorestframework_simplejwt = "==4.4.0"
django-auth-ldap = "==2.2.0"
django-cors-headers = "==3.3.0"
django-phonenumber-field = {extras = ["phonenumbers"],version = "==4.0.0"}
django-simple-history = "==2.10.0"
drf-yasg = "==1.17.1"
google-api-python-client = "==1.9.1"
google-auth-httplib2 = "==0.0.3"
google-auth-oauthlib = "==0.4.1"
gunicorn = "==20.0.4"
pillow = "==7.1.2"
psycopg2-binary = "==2.8.5"
python-decouple = "==3.3"
python-ldap = ">=3.1"
rest-social-auth = "==4.2.0"
sentry-sdk = "==0.14.4"
whitenoise = {extras = ["brotli"],version = "==5.1.0"}

[requires]
python_version = "3.8"
