.card {
  margin-left: 16px;
  margin-right: 16px;
  width: auto;
}
.cardTitle {
  float: left;
  padding: 10px 10px 10px 0;
  line-height: 24px;
}
.cardTitleRTL {
  float: right;
  padding: 10px 0 10px 10px !important;
}
.displayNone {
  display: none !important;
}
.tabsRoot {
  min-height: unset !important;
}
.tabRootButton {
  min-height: unset !important;
  min-width: unset !important;
  width: unset !important;
  height: unset !important;
  max-width: unset !important;
  max-height: unset !important;
  padding: 10px 15px;
  border-radius: 3px;
  line-height: 24px;
  border: 0 !important;
  color: #fff !important;
  margin-left: 4px;
  letter-spacing: normal;
  font-weight: 500;
  font-size: 12px;
  &:last-child {
    margin-left: 0;
  }
}
.tabSelected {
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.2s background-color 0.1s;
}
.tabWrapper {
  display: inline-block;
  min-height: unset !important;
  min-width: unset !important;
  width: unset !important;
  height: unset !important;
  max-width: unset !important;
  max-height: unset !important;
  & > svg {
    vertical-align: middle;
    margin: -1.55px 5px 0 0 !important;
  }
  &,
  & * {
    letter-spacing: normal !important;
  }
}
.tabIconWrapper {
  margin-right: 5px !important;
}
.tabTextColorInherit {
  opacity: 0.7;
}
