@use 'sass:map';
@use '/src/assets/scss/theme';

.container {
  @include theme.container;
}
.section {
  padding-top: 0 !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  @include theme.section;
}
.profile {
  text-align: center;
}
.avatar {
  max-width: 160px;
  width: 100%;
  height: 160px;
  margin: 0 auto;
  transform: translate3d(0, -50%, 0);
}
.name {
  margin-top: -80px;
}
.imgFluid {
  max-width: 100%;
  height: auto;
}
.imgRounded {
  border-radius: 6px !important;
}
.imgRoundedCircle {
  border-radius: 50% !important;
}
.imgRaised {
  box-shadow:
    0 5px 15px -8px rgba(0, 0, 0, 0.24),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.imgGallery {
  width: 100%;
  margin-bottom: 2.142rem;
}
.imgCardTop {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.imgCardBottom {
  width: 100%;
  border-bottom-left-radius: calc(0.25rem - 1px);
  border-bottom-right-radius: calc(0.25rem - 1px);
}
.imgCard {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}
.imgCardOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}
.main {
  background: #ffffff;
  position: relative;
  z-index: 3;
}
.mainRaised {
  margin: -60px 30px 0;
  border-radius: 6px;
  box-shadow:
    0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.title {
  @include theme.title;
  display: inline-block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 0;
  min-height: 32px;
  text-decoration: none;
}
.socials {
  margin-top: 0;
  width: 100%;
  transform: none;
  left: 0;
  top: 0;
  height: 100%;
  line-height: 41px;
  font-size: 20px;
  color: #999;
}
.circularProgress {
  margin: 50px 30px;
  color: map.get(theme.$themeColors, 'primary');
}
.button {
  margin-top: 15px;
}
.alertAd {
  margin-top: 18;
  margin-bottom: 2;
  text-align: left;
  align-items: center;
}
.alertAdMobile {
  margin-top: 0;
  margin-bottom: 2;
  text-align: left;
  align-items: center;
}
.accordionAvatar {
  display: inherit;
}
.alertAvatar {
  text-align: justify;
}
.cardMediaAvatar {
  height: auto;
}
.selectedIconAvatar {
  color: map.get(theme.$themeColors, 'success');
}
.smallAvatar {
  color: inherit;
}
.textAvatar {
  font-size: 0.9rem;
  font-weight: 450;
}
.accordion {
  & > :first-child {
    margin-top: 18px;
  }
}
