@use 'sass:map';
@use '/src/assets/scss/theme';

.block {
  color: inherit;
  padding: 0.9375rem;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  text-decoration: none;
  position: relative;
  display: block;
}
.left {
  padding: 15px 0;
  display: block;
  @media (min-width: map.get(theme.$themeBreakpoints, 'sm')) {
    float: left !important;
  }
}
.right {
  padding: 15px 0;
  margin: 0;
  @media (min-width: map.get(theme.$themeBreakpoints, 'sm')) {
    float: right !important;
  }
}
.footer {
  padding: 0.9375rem 0;
  text-align: center;
  display: flex;
  z-index: 2;
  position: relative;
}
.a {
  color: map.get(theme.$themeColors, 'primary');
  text-decoration: none;
  background-color: transparent;
}
.footerWhiteFont {
  &,
  &:hover,
  &:focus {
    color: #ffffff;
  }
}
.container {
  @include theme.container;
}
.list {
  margin-bottom: 0;
  padding: 0;
  margin-top: 0;
}
.inlineBlock {
  display: inline-block;
  width: auto;
  line-height: 0;
  vertical-align: text-bottom;
  padding: 0 10px;
  @media (min-width: map.get(theme.$themeBreakpoints, 'sm')) {
    &:nth-child(1) {
      padding-left: 0;
    }
  }
  @media (max-width: map.get(theme.$themeBreakpoints, 'sm')) {
    &:nth-last-child(1) {
      margin-right: -6px;
    }
  }
}
.icon {
  width: 18px;
  height: 18px;
  position: relative;
  top: 3px;
}
.socialIcon {
  padding: 0;
  margin: 0;
}
