@use '/src/assets/scss/theme';

.container {
  z-index: 12;
  color: #ffffff;
  @include theme.container;
}
.section {
  padding-left: 15px !important;
  padding-right: 15px !important;
  @include theme.section;
}
.main {
  background: #ffffff;
  position: relative;
  z-index: 3;
}
.mainRaised {
  margin: -60px 30px 0;
  border-radius: 6px;
  box-shadow:
    0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.title {
  text-align: left;
}
