@use 'sass:map';
@use '/src/assets/scss/theme';

.container {
  z-index: 12;
  color: #ffffff;
  @include theme.container;
}
.section {
  padding-left: 15px !important;
  padding-right: 15px !important;
  @include theme.section;
}
.title {
  @include theme.title;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-top: 30px;
  min-height: 32px;
  color: #ffffff;
  text-decoration: none;
}
.subtitle {
  font-size: 1.313rem;
  max-width: 500px;
  margin: 10px auto 0;
}
.main {
  background: #ffffff;
  position: relative;
  z-index: 3;
}
.mainRaised {
  margin: -60px 30px 0;
  border-radius: 6px;
  box-shadow:
    0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.stepper {
  margin: 5px 1px !important;
  padding: 0;
}
.stepIcon {
  &.activeIcon {
    color: map.get(theme.$themeColors, 'primary');
  }
  &.completedIcon {
    color: map.get(theme.$themeColors, 'success');
  }
}
.circularProgress {
  margin-top: 70px;
  margin: 50px 30px;
  color: map.get(theme.$themeColors, 'primary');
}
.wrapper {
  position: relative;
}
.buttonProgress {
  color: map.get(theme.$themeColors, 'primary');
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12;
  margin-left: 40px;
}
.button {
  margin-top: 15px;
}
