.avatarIcon img {
  height: 32px !important;
  width: 32px !important;
}

.avatarIcon > [class~='p-avatar-icon'] {
  align-items: center;
  color: var(--text-color);
  display: inline-flex;
  height: 32px;
  justify-content: center;
  width: 32px;
}
