.root {
  min-width: 275px;
  margin-bottom: 8px;
}
.first {
  min-width: 275px;
  margin-bottom: 8px;
  margin-top: 16px;
}
.content {
  padding-bottom: 0;
  &:last-child {
    padding-bottom: 16px;
  }
}
.title {
  font-size: 14px;
}
.pos {
  margin-bottom: 12px;
}
.actions {
  display: inherit;
}
