@import '~primereact/resources/themes/lara-dark-blue/theme.css';
@import '~primereact/resources/primereact.min.css';

.p-tag.p-tag-blue {
  background-color: var(--blue-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-bluegray {
  background-color: var(--bluegray-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-cyan {
  background-color: var(--cyan-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-green {
  background-color: var(--green-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-indigo {
  background-color: var(--indigo-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-orange {
  background-color: var(--orange-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-pink {
  background-color: var(--pink-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-purple {
  background-color: var(--purple-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-red {
  background-color: var(--red-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-teal {
  background-color: var(--teal-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-yellow {
  background-color: var(--yellow-300);
  color: var(--primary-color-text);
}

.p-inline-message.p-inline-message-warn {
  background: rgb(25, 18, 7);
  border: solid rgb(255, 167, 38);
  border-width: 1px;
  color: rgb(255, 226, 183);
}
.p-inline-message.p-inline-message-warn .p-inline-message-icon {
  color: rgb(255, 167, 38);
}
