@import '~primereact/resources/themes/lara-dark-blue/theme.css';

.p-inline-message.p-inline-message-warn {
  background: rgb(25, 18, 7);
  border: solid rgb(255, 167, 38);
  border-width: 1px;
  color: rgb(255, 226, 183);
}
.p-inline-message.p-inline-message-warn .p-inline-message-icon {
  color: rgb(255, 167, 38);
}

.p-tabview .p-tabview-nav {
  background: transparent;
  border: 1px solid #0b213f;
  border-width: 0 0 1px 0;
}

.p-tag.p-tag-blue {
  background-color: var(--blue-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-bluegray {
  background-color: var(--bluegray-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-cyan {
  background-color: var(--cyan-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-green {
  background-color: var(--green-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-indigo {
  background-color: var(--indigo-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-orange {
  background-color: var(--orange-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-pink {
  background-color: var(--pink-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-purple {
  background-color: var(--purple-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-red {
  background-color: var(--red-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-teal {
  background-color: var(--teal-300);
  color: var(--primary-color-text);
}
.p-tag.p-tag-yellow {
  background-color: var(--yellow-300);
  color: var(--primary-color-text);
}

.p-toast .p-toast-message .p-toast-icon-close:hover {
  background: rgba(255, 255, 255, 0.08);
}
.p-toast .p-toast-message.p-toast-message-info {
  background: rgb(7, 19, 24);
  border: solid rgb(41, 182, 246);
  border-width: 0 0 0 6px;
  color: rgb(184, 231, 251);
}
.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
  color: rgb(41, 182, 246);
}
.p-toast .p-toast-message.p-toast-message-error {
  background: rgb(22, 11, 11);
  border: solid rgb(244, 67, 54);
  border-width: 0 0 0 6px;
  color: rgb(244, 199, 199);
}
.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
  color: rgb(244, 67, 54);
}
.p-toast .p-toast-message.p-toast-message-success {
  background: rgb(12, 19, 13);
  border: solid rgb(102, 187, 106);
  border-width: 0 0 0 6px;
  color: rgb(204, 232, 205);
}
.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  color: rgb(102, 187, 106);
}
.p-toast .p-toast-message.p-toast-message-warn {
  background: rgb(25, 18, 7);
  border: solid rgb(255, 167, 38);
  border-width: 0 0 0 6px;
  color: rgb(255, 226, 183);
}
.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
  color: rgb(255, 167, 38);
}

.p-statistics.p-statistics-blue {
  background-color: var(--blue-900) !important;
  > i {
    color: var(--blue-200) !important;
  }
}

.p-statistics.p-statistics-cyan {
  background-color: var(--cyan-900) !important;
  > i {
    color: var(--cyan-200) !important;
  }
}

.p-statistics.p-statistics-orange {
  background-color: var(--orange-900) !important;
  > i {
    color: var(--orange-200) !important;
  }
}

.p-statistics.p-statistics-purple {
  background-color: var(--purple-900) !important;
  > i {
    color: var(--purple-200) !important;
  }
}
