@use 'sass:map';
@use '/src/assets/scss/theme';

.popperClose {
  pointer-events: none;
}
.dropdown {
  border-radius: 3px;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  top: 100%;
  z-index: 1000;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
}
.menuList {
  padding: 0;
}
.popperResponsive {
  z-index: 1200;
  @media (max-width: map.get(theme.$themeBreakpoints, 'md')) {
    z-index: 1640;
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: black;
  }
}
.dropdownItem {
  @include theme.defaultFont;
  font-size: 13px;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 2px;
  position: relative;
  transition: all 150ms linear;
  display: block;
  clear: both;
  font-weight: 400;
  height: fit-content;
  color: #333;
  white-space: nowrap;
  min-height: unset;
}
.blackHover {
  &:hover {
    box-shadow:
      0 4px 20px 0 rgba(0, 0, 0, 0.14),
      0 7px 10px -5px rgba(33, 33, 33, 0.4);
    background-color: #212121;
    color: #fff;
  }
}
.primaryHover {
  &:hover {
    background-color: map.get(theme.$themeColors, 'primary');
    color: #ffffff;
    @include theme.primaryBoxShadow;
  }
}
.infoHover {
  &:hover {
    background-color: map.get(theme.$themeColors, 'info');
    color: #ffffff;
    @include theme.infoBoxShadow;
  }
}
.successHover {
  &:hover {
    background-color: map.get(theme.$themeColors, 'success');
    color: #ffffff;
    @include theme.successBoxShadow;
  }
}
.warningHover {
  &:hover {
    background-color: map.get(theme.$themeColors, 'warning');
    color: #ffffff;
    @include theme.warningBoxShadow;
  }
}
.dangerHover {
  &:hover {
    background-color: map.get(theme.$themeColors, 'error');
    color: #ffffff;
    @include theme.dangerBoxShadow;
  }
}
.secondaryHover {
  &:hover {
    background-color: map.get(theme.$themeColors, 'secondary');
    color: #ffffff;
    @include theme.secondaryBoxShadow;
  }
}
.dropdownItemRTL {
  text-align: right;
}
.dropdownDividerItem {
  margin: 5px 0 !important;
  height: 1px;
  overflow: hidden;
}
.buttonIcon {
  width: 20px;
  height: 20px;
}
.buttonAvatar {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.caret {
  transition: all 150ms ease-in;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.caretActive {
  transform: rotate(180deg);
}
.caretRTL {
  margin-right: 4px;
}
.dropdownHeader {
  display: block;
  padding: 0.1875rem 1.25rem;
  font-size: 0.75rem;
  line-height: 1.428571;
  color: #777;
  white-space: nowrap;
  font-weight: inherit;
  margin-top: 10px;
  min-height: unset;
  &:hover,
  &:focus {
    background-color: transparent;
    cursor: auto;
  }
}
.noLiPadding {
  padding: 0;
}
