.title {
  padding: 10px 8px;
}
.paper {
  padding: 15px;
  margin: 16px;
}
.formSection {
  padding: 15px 0;
}
.formSectionFirst {
  padding-bottom: 15px;
}
.formSectionLast {
  padding-top: 15px;
}
.afterDivider {
  margin-top: 10px;
}
.chip {
  margin-bottom: 10px;
}
.smallAvatar {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}
.toggleButtonGroup {
  padding: 5px 0;
}
.toggleButtonText {
  margin: 0;
  line-height: 0;
  padding-left: 2px;
}
.beforeDividerTextField {
  margin: 16px 0;
}
.snackbarButton {
  color: inherit;
}
