.commentAuthor {
  margin: 0;
  text-align: left;
  font-weight: 400;
}
.commentText {
  text-align: left;
  white-space: pre-wrap;
}
.commentCreated {
  text-align: left;
  color: gray;
}
.commentDivider {
  margin: 30px 0;
}
.commentDividerMobile {
  margin: 15px 0;
}
.newComment {
  margin-bottom: 1.125rem;
}
.buttonStack {
  margin: 0 !important;
}
