.table {
  margin-bottom: 25px;
  width: auto;
}
.inputField {
  margin-top: 24px;
}
.fab {
  top: auto;
  right: 10px;
  bottom: 10px;
  left: auto;
  position: absolute;
}
.smallAvatar {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}
