@use 'sass:map';
@use '/src/assets/scss/theme';

.appBar {
  display: flex;
  border: 0;
  border-radius: 3px;
  padding: 0.625rem 0;
  margin-bottom: 20px;
  color: #555;
  width: 100%;
  background-color: #fff;
  box-shadow:
    0 4px 18px 0 rgba(0, 0, 0, 0.12),
    0 7px 10px -5px rgba(0, 0, 0, 0.15);
  transition: all 150ms ease 0s;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-start;
  position: relative;
  z-index: unset;
}
.absolute {
  position: absolute;
  z-index: 1100;
}
.fixed {
  position: fixed;
  z-index: 1100;
}
.container {
  min-height: 50px;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: nowrap;
  @include theme.container;
}
.flex {
  flex: 1;
}
.title {
  @include theme.defaultFont;
  line-height: 30px;
  font-size: 18px;
  border-radius: 3px;
  text-transform: none;
  color: inherit;
  padding: 8px 16px;
  letter-spacing: unset;
  &:hover,
  &:focus {
    color: inherit;
    background: transparent;
  }
}
.titleLink {
  color: inherit !important;
}
.appResponsive {
  margin: 20px 10px;
}
.primary {
  background-color: map.get(theme.$themeColors, 'primary');
  color: #ffffff;
  box-shadow:
    0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 12px -5px rgba(30, 136, 229, 0.46);
}
.secondary {
  background-color: map.get(theme.$themeColors, 'secondary');
  color: #ffffff;
  box-shadow:
    0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 12px -5px rgba(255, 179, 0, 0.46);
}
.info {
  background-color: map.get(theme.$themeColors, 'info');
  color: #ffffff;
  box-shadow:
    0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 12px -5px rgba(0, 188, 212, 0.46);
}
.success {
  background-color: map.get(theme.$themeColors, 'success');
  color: #ffffff;
  box-shadow:
    0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 12px -5px rgba(76, 175, 80, 0.46);
}
.warning {
  background-color: map.get(theme.$themeColors, 'warning');
  color: #ffffff;
  box-shadow:
    0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 12px -5px rgba(255, 152, 0, 0.46);
}
.error {
  background-color: map.get(theme.$themeColors, 'error');
  color: #ffffff;
  box-shadow:
    0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 12px -5px rgba(244, 67, 54, 0.46);
}
.transparent {
  background-color: transparent !important;
  box-shadow: none;
  padding-top: 25px;
  color: #ffffff;
}
.dark {
  color: #ffffff;
  background-color: #212121 !important;
  box-shadow:
    0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 12px -5px rgba(33, 33, 33, 0.46);
}
.white {
  border: 0;
  padding: 0.625rem 0;
  margin-bottom: 20px;
  color: #555;
  background-color: #fff !important;
  box-shadow:
    0 4px 18px 0 rgba(0, 0, 0, 0.12),
    0 7px 10px -5px rgba(0, 0, 0, 0.15);
}
.drawerPaper {
  border: none;
  bottom: 0;
  transition-property: top, bottom, width;
  transition-duration: 0.2s, 0.2s, 0.35s;
  transition-timing-function: linear, linear, ease;
  width: 260px;
  box-shadow:
    0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
  position: fixed;
  display: block;
  top: 0;
  height: 100vh;
  right: 0;
  left: auto;
  visibility: visible;
  overflow-y: visible;
  border-top: none;
  text-align: left;
  padding-right: 0;
  padding-left: 0;
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
