@use '/src/assets/scss/theme';

.section {
  @include theme.section;
}
.title {
  @include theme.title;
  margin-bottom: 50px;
  margin-top: 30px;
  min-height: 32px;
  text-decoration: none;
  text-align: center;
}
.description {
  color: #999;
  text-align: center;
}
.textCenter {
  text-align: center;
}
.textArea {
  margin-right: 15px;
  margin-left: 15px;
}
