@use '/src/assets/scss/theme';

.section {
  text-align: center;
  @include theme.section;
}
.title {
  margin-bottom: 1rem !important;
  margin-top: 30px !important;
  min-height: 32px;
  @include theme.title;
}
.description {
  color: #999;
}
