name: Frontend CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: [main]
    paths:
      - 'frontend/**'
      - '.github/workflows/frontend.yml'
jobs:
  run-tests:
    name: Run tests
    strategy:
      fail-fast: false
      matrix:
        include:
          - node-version: '24'
            experimental: false
            node-options: ''
    uses: ./.github/workflows/frontend-base-workflow.yml
    with:
      working-directory: 'frontend'
      node-version: ${{ matrix.node-version }}
      node-options: ${{ matrix.node-options }}
      experimental: ${{ matrix.experimental }}
