@font-face {
  font-family: 'icomoon';
  src: url('assets/fonts/icomoon.eot?4pcg42');
  src:
    url('assets/fonts/icomoon.eot?4pcg42#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?4pcg42') format('truetype'),
    url('assets/fonts/icomoon.woff?4pcg42') format('woff'),
    url('assets/fonts/icomoon.svg?4pcg42#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  background-color: var(--surface-ground);
  color: var(--text-color);
  font-family: var(--font-family);
  margin: 0;
  min-height: 100%;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.comment-text {
  white-space: pre-wrap;
}

.hover\:dashed:hover {
  text-decoration-style: dashed !important;
}

.hyphenate {
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.icon-sch:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e900';
}

.p-badge-new-request {
  right: -0.5rem !important;
  transform: translate(20%, 0) !important;
}

.text-color-primary {
  color: var(--primary-color-text);
}
