body {
  background-color: var(--surface-ground);
  color: var(--text-color);
  font-family: var(--font-family);
  margin: 0;
  min-height: 100%;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.comment-text {
  white-space: pre-wrap;
}

.hyphenate {
  hyphens: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.p-badge-new-request {
  right: -0.5rem !important;
  transform: translate(20%, 0) !important;
}

.text-color-primary {
  color: var(--primary-color-text);
}
